@import 'libs/bootstrap-reboot.min';
@import 'libs/stylesheet';
@import 'base/mixins';

* {
    font-family: 'Helvetica', 'Graphik LCG', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        width: 0;
    }
}

.container {
    width: 580px;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 45px;
    line-height: 54px;
    color: black;
    &_mini {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.4px;
    }
    &_maxi {
        font-size: 35px;
        line-height: 42px;
        margin: 10px auto 0 auto;
    }
}

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/technology';
@import 'blocks/price';
@import 'blocks/promo';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/media';
