.footer {
    padding: 50px 0 48px 0;
    background-color: #000000;
    color: #ffffff;
    &__logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 181px;
    }
    &__apps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 210px;
    }
    &__additions {
        margin-top: 39px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__support {
        display: flex;
        flex-direction: column;
        &-number {
            position: relative;
            bottom: 4px;
            text-decoration: none;
            color: #ffffff;
            font-family: "Graphik LCG";
            font-size: 14px;
            font-weight: 5s00;
            line-height: 16px;
            &:hover {
                text-decoration: none;
                color: #ffffff;
            }
        }
        &-text {
            margin-top: 7px;
            font-family: "Helvetica";
            font-size: 10px;
            font-weight: 500;
            line-height: 15px;
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        height: 35px;
    }
    &__link {
        display: block;
        font-family: "Helvetica";
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
        text-decoration: none;
        color: #ffffff;
        &:hover {
            text-decoration: none;
            color: #ffffff;
        }
    }
}