.main {
    padding: 67px 0 95px 0;
    &__logo {
        display: block;
        margin: 0 auto;
    }
    &__banner {
        display: block;
        margin: 33px auto 25px auto;
    }
    &__description {
        margin-top: 15px;
        @include descr;
    }
    &__button {
        display: block;
        margin: 30px auto 0 auto;
        width: 393px;
        height: 50px;
        background-color: black;
        border-style: none;
        &:hover {
            box-shadow: 0 0 8px 2px black;
        }
    }
    &__button a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
        font-family: "HelveticaNeue";
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
    }
}